'use strict'

import riot from 'riot'
import StoreWatcher from './mixins/storex'


<!-- data from the store is under _.{storename}. -->
<header>
    <div class="section top-nav fixed" style="    margin-left: 15%;">
      <nav id="messageSection">
      <p style="margin-left:5%;float:left;margin-bottom:15%;margin-top:0;">Config based event-manager in action</p>
      <p style="margin-right:5%;float:right; background-color:yellow;margin-bottom:15%;margin-top:0%;">Me  {_.user.authStatus}</p>
      </nav>
    </div>
    <script>
      let self = this
      self.stores =  ['user']// todo :: try to move it to pass at time of init of mixin
      self.mixin(StoreWatcher)
    </script>
</header>