'use strict'

import riot from 'riot'
import events from '../event-manager/events'
import store from '../event-manager/store'
import PubSub from '../scripts/pubsub.js'

<header>
    <div class="section top-nav fixed" style="    margin-left: 15%;">
      <nav id="messageSection">
      <p style="margin-left:5%;float:left;margin-bottom:15%;margin-top:0;">Config based event-manager in action</p>
      <p style="margin-right:5%;float:right; background-color:yellow;margin-bottom:15%;margin-top:0%;">Me  {_.user.authStatus}</p>
      </nav>
    </div>
    <script>
      let self = this
      let stores = ['user']
      self.state = store.init()
      self._ = self.state


      self.on('mount', function() {
         // todo :: make this move into a mixin which takes in an array 
        stores.map((item, i) => {
          PubSub.subscribe(item + '_updated', (data) => {
            console.log(' update data >>> ',data)
            self['_'][data.module][data.key]=data.val
            self.update()
          })
        })
        events.setupEvents(self)
      })
    </script>
</header>