'use strict'

import riot from 'riot'
import events from '../event-manager/events'
import PubSub from '../scripts/pubsub.js'

<login>
    <div class="section" style="margin-left:20%;padding-top:5%;width: 30%;vertical-align: middle;">
      <section id="messageSection" style="margin-left:2%;background-color:yellow;">Auth status is {_.user.authStatus}</section>
      <input type="text" id="userid" placeholder="User Id" value="{_.userId}">
      <input id="password" type="password" placeholder="Password" value="{_.userPassword}" >
      <!-- todo :: use case repeat password use case -->
      <button id="submitLogin">Login</button>
      <button id="resetLogin">Reset</button>
    </div>
    <script>
      let self = this
      self.state = store.init()
      self._ = self.state

      // todo :: make this move into a mixin which takes in an array of all that is watched and updates self._ as needed (do minimal merging based on data needed) instead of assigning
      PubSub.subscribe(self.root.name+'_updated', (data) => {
        console.log(' update data >>> ',data)
        self['_'][data.module][data.key]=data.val
        self.update()
      })

      // TODO :: CHANGE STORE TO ACHIEVE BELOW
      // self._.user.a = 'b'// invalid
      // self._.setState('user.a','b')// valid

      self.on('mount', function() {
        // todo :: make this a mixin instead
        events.setupEvents(self)
      })
    </script>
</login>