'use strict'

import riot from 'riot'
import events from '../event-manager/events'
import store from '../event-manager/store'
import PubSub from '../scripts/pubsub.js'


<sidenav>
    <div class="section side-nav fixed" style="background-color: #ee6e73;"> 
      <section id="messageSection" style="">
         <ul style="margin: 2%">
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
          </ul>
      </section>
    </div>
    <script>
      let self = this
      let stores = ['user']
      self.state = store.init()
      self._ = self.state


      self.on('mount', function() {
         // todo :: make this move into a mixin which takes in an array 
        stores.map((item, i) => {
          PubSub.subscribe(item + '_updated', (data) => {
            console.log(' update data >>> ',data)
            self['_'][data.module][data.key]=data.val
            self.update()
          })
        })
        events.setupEvents(self)
      })
    </script>
</sidenav>