'use strict'

import riot from 'riot'
import StoreWatcher from './mixins/storex'


<sidenav>
    <div class="section side-nav fixed" style="background-color: #ee6e73;"> 
      <section id="messageSection" style="">
         <ul style="margin: 2%">
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
            <a href="#"><li>Link 1</li> </a>
          </ul>
      </section>
    </div>
    <script>
      let self = this
      self.stores =  ['user']
      
      self.mixin(StoreWatcher)
    </script>
</sidenav>